/* global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Work Sans', sans-serif;
    font-size: 62.5%;
}
.heading{
    text-align: center;
    margin-bottom: 4.8rem;
}
.heading h2{
    font-size: 4rem;
    color: #ff4f81;
    font-weight: bold;
    letter-spacing: .5px;
}
.heading p{
    font-size: 1.7rem;
    text-transform: capitalize;
    letter-spacing: 0.4rem;
    color: #000;
}
.heading p::after{
    con
}

/* header  */
.header__top {
    background-color: #ff4f81;
    font-size: 1.4rem;
}
.header__top a{
    text-decoration: none;
    color: #fff;
    transition: all .5s;
}
.header__left a:hover{
    color: #000 !important;
}
.header__right a{
    display: inline-block;
    text-align: center;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    background-color: #000;
    border: 1px solid #000;
    margin-left: 0.25rem;
}
.header__right a:hover{
    background-color: #ff4f81;
    border-color: #fff;
}
.navInstruction a{
    color: #000;
    font-weight: bold;
}
.navInstruction .navbar-brand p:first-child{
    font-size: 3.6rem;
    
}
.navInstruction .navbar-brand p:first-child i{
    transform: skewX(-10deg);
}
.navInstruction .navbar-brand p:last-child{
    font-size: 1.1rem;
    color: #ff4f81;
    letter-spacing: 0.3rem;
}
#navbarInstruction .nav-link{
    font-size: 1.4rem;font-weight: bold;
    letter-spacing: 1px;
    transition: all .5s;
}
#navbarInstruction .nav-item:hover .nav-link{
    color: #ff4f81;
}
#navbarInstruction .nav-item{
    margin: 0 1.5rem;
}
#navbarInstruction .nav-item:after{
    content: "";
    display: inline-block;
    width: 0%;
    height: 0.2rem;
    background-color: #ff4f81;
    transition: all .5s;
}
#navbarInstruction .nav-item:hover::after{
    width: 100%;
}
#navbarInstruction .nav-item.active .nav-link{
    color: #ff4f81;
}
#navbarInstruction .nav-item.active::after{
    width: 100%;
}
#navbarInstruction .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);
}
#navbarInstruction .dropdown-item{
    color: #fff;
    transition: all .5s;
}
#navbarInstruction .dropdown-item:focus, #navbarInstruction .dropdown-item:hover {
    background-color: transparent;
    color:#ff4f81;
}

/* carousel  */


#carouselCyber .carousel-caption{
    top: 60%;
    left: 50%;
    transform: translate(-50% , -50%);
}
#carouselCyber .carousel-caption h1{
    font-size: 5.2rem;
}
#carouselCyber .carousel-caption p{
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.4rem;
    line-height: 1.8rem;
    width: 70%;
    margin: auto;
    margin-bottom: 2.5rem;
}
#carouselCyber .carousel-caption .btn{
    padding: 1.1rem 2rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    transition: all .5s;
}
#carouselCyber .carousel-caption .btn:hover{
    background-color: #ff4f81;
    border-color: #ff4f81;
}