/* global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Work Sans', sans-serif;
    font-size: 62.5%;
}
.heading{
    text-align: center;
    margin-bottom: 4.8rem;
}

.heading h2{
    font-size: 4rem;
    color: #ff4f81;
    font-weight: bold;
    letter-spacing: .5px;
}
.heading p{
    font-size: 1.7rem;
    text-transform: capitalize;
    letter-spacing: 0.4rem;
    color: #000;
}
.heading p::after{
    content: "";
    width: 7rem;
    height: 0.2rem;
    background-color: #000;
    display: block;
    margin: 2rem auto;
}
.section{
    padding: 8rem 0;
}
.heading--white p{
    color: #fff;
}

/* header  */
.header__top {
    background-color: #ff4f81;
    font-size: 1.4rem;
}
.header__top a{
    text-decoration: none;
    color: #fff;
    transition: all .5s;
}
.header__left a:hover{
    color: #000 !important;
}
.header__right a{
    display: inline-block;
    text-align: center;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    background-color: #000;
    border: 1px solid #000;
    margin-left: 0.25rem;
}
.header__right a:hover{
    background-color: #ff4f81;
    border-color: #fff;
}
.navInstruction a{
    color: #000;
    font-weight: bold;
}
.navInstruction .navbar-brand p:first-child{
    font-size: 3.6rem;
    
}
.navInstruction .navbar-brand p:first-child i{
    transform: skewX(-10deg);
}
.navInstruction .navbar-brand p:last-child{
    font-size: 1.1rem;
    color: #ff4f81;
    letter-spacing: 0.3rem;
}
#navbarInstruction .nav-link{
    font-size: 1.4rem;font-weight: bold;
    letter-spacing: 1px;
    transition: all .5s;
}
#navbarInstruction .nav-item:hover .nav-link{
    color: #ff4f81;
}
#navbarInstruction .nav-item{
    margin: 0 1.5rem;
}
#navbarInstruction .nav-item:after{
    content: "";
    display: inline-block;
    width: 0%;
    height: 0.2rem;
    background-color: #ff4f81;
    transition: all .5s;
}
#navbarInstruction .nav-item:hover::after{
    width: 100%;
}
#navbarInstruction .nav-item.active .nav-link{
    color: #ff4f81;
}
#navbarInstruction .nav-item.active::after{
    width: 100%;
}
#navbarInstruction .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);
}
#navbarInstruction .dropdown-item{
    color: #fff;
    transition: all .5s;
}
#navbarInstruction .dropdown-item:focus, #navbarInstruction .dropdown-item:hover {
    background-color: transparent;
    color:#ff4f81;
}
.navInstruction .navbar-toggler{
    color: #ff4f81;
    background-color: #000;
    border-radius: 0px;
}
.navInstruction .navbar-toggler:focus{
    outline: none;
}
/* carousel  */


#carouselCyber .carousel-caption{
    top: 60%;
    left: 50%;
    transform: translate(-50% , -50%);
}
#carouselCyber .carousel-caption h1{
    font-size: 5.2rem;
}
#carouselCyber .carousel-caption p{
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.4rem;
    line-height: 1.8rem;
    width: 70%;
    margin: auto;
    margin-bottom: 2.5rem;
}
#carouselCyber .carousel-caption .btn{
    padding: 1.1rem 2rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    transition: all .5s;
}
#carouselCyber .carousel-caption .btn:hover{
    background-color: #ff4f81;
    border-color: #ff4f81;
}
/* welcome  */
.welcome__content>p{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.8em;
    color: #999;
    letter-spacing: 1px;
    padding: 1rem 0 5rem;
}
.welcome__item i{
    font-size: 3.2rem;
}
.welcome__item h3{
    color: #ff4f81;
    font-weight: bold;
    font-size: 3rem;
    margin: 1.6rem 0;
}
.welcome__item h4{
    color: #000;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 1.6rem 0 0.32rem;
    text-transform: uppercase;
}
.welcome__item p{
    color: #999;
    font-size: 1.6rem;
    line-height: 1.8em;
    margin: 1rem 0 0;
    letter-spacing: 1px;
}
.welcome__col{
    padding: 3.2rem;
}
/* ourstats  */
.ourStats{
    background-image: url(../img/g2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.outStats__content{
    text-align: center;
    color: #fff;
}
.outStats__content i{
    font-size: 4rem;
}
.outStats__content h3{
    font-size: 2rem;
    letter-spacing: 3px;
    font-weight: bold;
    margin: 3rem 0 2rem;
    color: #ff4f81;
}
.outStats__content p{
    font-size: 4.8rem;
    letter-spacing: 2px;
    font-weight: 300;
}
/* offer  */
.offer__col{
    padding: 1.5rem;
}
.offer__item{
    padding: 2.5rem 4rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 1px 8px 0px rgba(158, 158, 158, 0.75);
    transition: all .5s;
}
.offer__item:hover{
    background-color: #12ccc3;
}
.offer__item i{
    color: #ff4f81;
    font-size: 4rem;
}
.offer__item h3{
    font-size: 2rem;
    margin: 2.5rem 0 2rem;
    color: #000;
}
.offer__item p{
    font-size: 1.4rem;
    letter-spacing: .5px;
    color: #6b6b6b;
}
/* carousel  */
.feedback{
    background-image: url(../img/g2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.feedback__content{
    background-color: rgba(0, 0, 0, 0.47);
    box-shadow: 0px 1px 7px #8e8e8e;
    padding: 1.6rem;
}
.feedback__content .item{
    color: #fff;
    padding: 1.6rem;
}
.feedback__top{
    padding: 1.6rem 2rem;
    border-radius: 5px;
    background-color:  rgba(0, 0, 0, 0.47);
    position: relative;
}
.feedback__top::after{
    content: "";
    border-top: 9px solid rgba(0, 0, 0, 0.47);
    border-left: 9px solid transparent ;
    border-right: 9px solid transparent ;
    position: absolute;
    top: 100%;
    left: 30%;
}
.feedback__content .feedback__bottom img{
    width: 30%;
    display: inline-block;
}
.feedback__top p{
    font-size: 1.4rem;
}
.feedback__bottom{
    display: flex;
    justify-content: center;
    width: 55%;
    margin: 3.2rem auto 0;
}
.feedback__name{
    margin-left: 0.5rem;
}
.feedback__name p{
    color: #ff4f81;
}
.feedback__name p:first-child{
    color: #fff;
    font-weight: bold;
    font-size: 1.7rem;
}
.feedback__name p:last-child{
    font-size: 1.4rem;
}
.feedback__content .owl-theme .owl-dots .owl-dot span{
    background-color: #ff4f81;
    opacity: 0.5;
}
.feedback__content .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    opacity: 1;

}
.feedback__content .owl-theme .owl-dots .owl-dot:focus{
    outline: none;
}
/* news  */
.new__content img{
    border: 2px solid #dedede;

}
.new__content h3{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.new__content a{
    text-decoration: none;
    color: #000;
    transition: all .5s;
}
.new__content a:hover{
    color: #ff4f81;
}
.new__content h4{
    font-size: 1.6rem;font-weight: bold;
    letter-spacing: 1px;
    color: #ff4f81;
    margin: 1.6rem 0;
}
.new__content p{
    color: #999;
    line-height: 3rem;
    margin-top: 1.6rem;
    font-size: 1.4rem;
}
.new__content .row:last-child{
    margin-top: 8rem;
}

/* modal  */
#cyberModal h5{
    font-size: 2.9rem;
    color: #ff4f81;
    font-weight: bold;
}
#cyberModal p{
    font-size: 1.4rem;
    color: #777;
    line-height: 1.8em;
    padding: 2rem 0;
}
#cyberModal .modal-dialog{
    max-width: 600px;
}
/* footer  */
footer{
    background-color: #141415;
    padding: 3rem 0;
}

.footer__top h3{
    color: #ff4f81;
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}
.footer__top p{
    color: #8b8b96;
    font-size: 1.5rem;
    margin-bottom: 3.2rem;
    line-height: 2em;
    letter-spacing: 1px;
}
.footer__link, .footer__contact{
    margin-bottom: 1.6rem;
}
.footer__link i{
    font-size: 1rem;
    color:#ff4f81;
    margin-right: 1.6rem;
}
.footer__link a, .footer__contact a{
    color: #8b8b96;
    text-decoration: none;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-size: 1.5rem;
    transition: all .5s;
}
.footer__link a:hover, .footer__contact a:hover{
    color: #fff;
}
.footer__contact i{
    font-size: 1.5rem;
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    border: 1px solid #4b4b50;
    color: #fff;
    text-align: center;
    margin-right: 1.6rem;
}
.footer__form label{
    font-size: 2.4rem;
    color: #ff4f81;
    font-weight: bold;
    letter-spacing: 1px;
}
.footer__form input{
    font-size: 1.5rem;
    padding: 1.4rem;
    border-radius: 0;
    border: none;
    color: #888;
    letter-spacing: 1px;
    height: auto;
}
.footer__form .btn{
    background-color: #ff4f81;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 0;
    padding: 1rem 3.5rem;
    font-size: 1.5rem;
    outline: none;
    transition: all .5s;
}
.footer__form .btn:hover{
    background-color:#ec1955;
    color: #fff;
}
.footer__form {
    margin-top: 4.8rem;
}
.footer__bottom{
    background-color: #0f0f10;
    padding: 1.6rem 0;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-top: 4rem;
}
.footer__bottom a{
    color: #ff4f81;
    text-decoration: none;
    transition: all .5s;
}
.footer__bottom a:hover{
    color: #fff;
}


/* ------------responsive--------------- */
/* header  */

@media screen and (min-width:768px) and (max-width:992px){
    #navbarInstruction .nav-item{
        margin: 0;
        padding: 0 2px;
    }
    #navbarInstruction .nav-link{
        font-size: 12px;padding: 5px;
    }
}
@media screen and (max-width:1199.98px) {
    #carouselCyber .carousel-caption{
        top: 50%;
    }
    #carouselCyber .carousel-caption h1{
        font-size: 4vw;
    }
    #carouselCyber .carousel-caption p{
        font-size: 1.6vw;
    }
    #carouselCyber .carousel-caption .btn{
        font-size: 1.5vw;
        padding: 0.8em 1em;
    }
    
}
@media screen and (max-width:991.98px) {
    .navInstruction .navbar-brand p:first-child{
        font-size: 3vw;
    }
    .navInstruction .navbar-brand p:last-child{
        font-size: 1.5vw;
    }
}
@media screen and (max-width:768px) {
    #navbarInstruction .navbar-nav{
        background-color: #eee;
        text-align: center;
    }
    #navbarInstruction .dropdown-menu{
        background-color: #e0e1e2;
        border-color: #e0e1e2;
        text-align: center;
    }
    #navbarInstruction .dropdown-item{
        color: #000;
    }
}
@media screen and (max-width:575.98px) {
    .header__left a {
        display: block;
    }
}