/* global */
html, body{
    font-family: 'Work Sans', sans-serif;
    font-size: 62.5%;
}

/* header  */
.header__top {
    background-color: #ff4f81;
    display: flex;
    align-items: center;
    justify-content: space-between;
}